---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE } from '../../consts';
import CookieConsent from '../../components/CookieConsent.astro';

// MULTILINGUAL SETTINGS
const currentLang = 'es';
const alternateHref = '/projects'; 
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={`Proyectos - ${SITE_TITLE}`} description="Mis Proyectos" currentLang={currentLang} alternateHref={alternateHref} />
        <CookieConsent currentLang={currentLang} />

        <link rel="stylesheet" href="/assets/vendors/themify-icons/css/themify-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/steller.css">
	</head>

	<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
        
		<Header />
		
        <div class="container mt-5 pt-5">
            <div class="header-title" style="text-align: center;">
                <h2>Proyectos personales, Recursos y Otros</h2>
            </div>

            <section id="Data Projects" class="section mt-3">
                <div class="container text-center">
                    <h1 class="section-title mb-4" style="font-weight: bold; font-size: 30px;">Ciencia de Datos</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card border mb-4">
                                <img src="/assets/imgs/wordcloud.png" alt="" class="card-img-top w-100">
                                <div class="card-body">
                                    <h5 class="card-title">Nube de Palabras de Dinámica No Lineal</h5>
                                    <p>Web scraping del journal Nonlinear Dynamics. Extracción de palabras clave y análisis de frecuencia.</p>
                                    <a href="https://github.com/alxgom/NL-Dynamics-wordcloud" target="_blank">Ver código</a>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </section>
            
            <section id="Apps" class="section mt-3">
                 <div class="container text-center">
                    <h1 class="section-title mb-4" style="font-weight: bold; font-size: 30px;">Aplicaciones Web</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card border mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Calculadora de Alquiler (SAC)</h5>
                                    <p>Una herramienta justa para dividir el alquiler basada en el tamaño de las habitaciones y espacios comunes.</p>
                                    <a href="/es/sac">Ir a la App</a>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </section>

            <section id="Resources" class="section mt-3">
                <div class="container text-center">
                    <h1 class="section-title mb-4" style="font-weight: bold; font-size: 30px;">Recursos</h1>
                    <div class="bg-image bg-image-white" style="background-image: url(/assets/imgs/DSC02718-2.jpg);">
                        <div class="overlay-content text-white p-4">
                           <h3>Recursos de Fotografía</h3>
                           <p>Colección de fotos de mis viajes.</p>
                        </div>
                     </div>
                </div>
            </section>

        </div>

		<Footer />
        
        <script is:inline src="/assets/vendors/jquery/jquery-3.4.1.js"></script>
        <script is:inline src="/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
        <script is:inline src="/assets/vendors/bootstrap/bootstrap.affix.js"></script>
        <script is:inline src="/assets/js/steller.js"></script>
	</body>
</html>